body {
    font-family: Arial, sans-serif;
    background-color: #cb289a;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin: 20px auto;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  
  button[type="button"] {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #pendingTasks, #completedTasks {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .completed {
    background-color: #f2f2f2;
    text-decoration: line-through;
  }